In [188]:
import pandas as pd
import csv

In [189]:
cal = '/Users/EvelynJulian/Desktop/Metis/Project 2/DemRace/DemographicsCalRace.csv'
penn = '/Users/EvelynJulian/Desktop/Metis/Project 2/DemRace/DemographicsPennRace.csv'
geo = '/Users/EvelynJulian/Desktop/Metis/Project 2/DemRace/DemographicsGeoRace.csv'
tex = '/Users/EvelynJulian/Desktop/Metis/Project 2/DemRace/DemographicsTexRace.csv'
ken = '/Users/EvelynJulian/Desktop/Metis/Project 2/DemRace/DemographicsKenRace.csv'
ill = '/Users/EvelynJulian/Desktop/Metis/Project 2/DemRace/DemographicsIllRace.csv'
vir = '/Users/EvelynJulian/Desktop/Metis/Project 2/DemRace/DemographicsVirRace.csv'
kan ='/Users/EvelynJulian/Desktop/Metis/Project 2/DemRace/DemographicsKanRace.csv'

dfcal = pd.read_csv(cal)

In [190]:
dfcal = pd.read_csv(cal)
dfcal = dfcal.drop(dfcal.columns[0:3], axis=1)
dfcal = dfcal.drop(dfcal.columns[5:7], axis=1)
dfcal = dfcal.drop(dfcal.columns[7:], axis=1)
dfcal = dfcal.sort_values(by=['YEAR', 'AGEGRP'], ascending= False)
dfcal = dfcal.iloc[0:58]
dfcal['NONWHITE POP'] = dfcal['TOT_POP'] - dfcal['WA_MALE'] - dfcal['WA_FEMALE']
dfcal = dfcal.drop(['YEAR', 'AGEGRP', 'TOT_POP', 'WA_MALE', 'WA_FEMALE'], axis = 1)
dfcal.reset_index()

    index      STNAME                 CTYNAME  NONWHITE POP
0     227  California          Alameda County         14167
1     455  California           Alpine County             5
2     683  California           Amador County            53
3     911  California            Butte County           301
4    1139  California        Calaveras County            72
5    1367  California           Colusa County            25
6    1595  California     Contra Costa County          5481
7    1823  California        Del Norte County            63
8    2051  California        El Dorado County           206
9    2279  California           Fresno County          2528
10   2507  California            Glenn County            27
11   2735  California         Humboldt County           227
12   2963  California         Imperial County           304
13   3191  California             Inyo County            60
14   3419  California             Kern County          1397
15   3647  California            Kings County           242
16   3875  California             Lake County           120
17   4103  California           Lassen County            59
18   4331  California      Los Angeles County         61136
19   4559  California           Madera County           231
20   4787  California            Marin County           629
21   5015  California         Mariposa County            40
22   5243  California        Mendocino County           153
23   5471  California           Merced County           597
24   5699  California            Modoc County            18
25   5927  California             Mono County            17
26   6155  California         Monterey County          1495
27   6383  California             Napa County           390
28   6611  California           Nevada County            97
29   6839  California           Orange County         14690
30   7067  California           Placer County           798
31   7295  California           Plumas County            31
32   7523  California        Riverside County          5212
33   7751  California       Sacramento County          7546
34   7979  California       San Benito County            82
35   8207  California   San Bernardino County          5168
36   8435  California        San Diego County         10911
37   8663  California    San Francisco County         13030
38   8891  California      San Joaquin County          2784
39   9119  California  San Luis Obispo County           357
40   9347  California        San Mateo County          5794
41   9575  California    Santa Barbara County           841
42   9803  California      Santa Clara County         13667
43  10031  California       Santa Cruz County           438
44  10259  California           Shasta County           220
45  10487  California           Sierra County             5
46  10715  California         Siskiyou County            88
47  10943  California           Solano County          2908
48  11171  California           Sonoma County           778
49  11399  California       Stanislaus County           911
50  11627  California           Sutter County           503
51  11855  California           Tehama County            66
52  12083  California          Trinity County            32
53  12311  California           Tulare County           626
54  12539  California         Tuolumne County            67
55  12767  California          Ventura County          2099
56  12995  California             Yolo County           578
57  13223  California             Yuba County           113

In [191]:
dfpenn = pd.read_csv(penn)
dfpenn = dfpenn.drop(dfpenn.columns[0:3], axis=1)
dfpenn = dfpenn.drop(dfpenn.columns[5:7], axis=1)
dfpenn = dfpenn.drop(dfpenn.columns[7:], axis=1)
dfpenn = dfpenn.sort_values(by=['YEAR', 'AGEGRP'], ascending= False)
dfpenn = dfpenn.iloc[0:67]
dfpenn['NONWHITE POP'] = dfpenn['TOT_POP'] - dfpenn['WA_MALE'] - dfpenn['WA_FEMALE']
dfpenn = dfpenn.drop(['YEAR', 'AGEGRP', 'TOT_POP', 'WA_MALE', 'WA_FEMALE'], axis = 1)
dfpenn.reset_index()

    index        STNAME              CTYNAME  NONWHITE POP
0     227  Pennsylvania         Adams County            60
1     455  Pennsylvania     Allegheny County          3111
2     683  Pennsylvania     Armstrong County            28
3     911  Pennsylvania        Beaver County           204
4    1139  Pennsylvania       Bedford County            16
..    ...           ...                  ...           ...
62  14363  Pennsylvania    Washington County           179
63  14591  Pennsylvania         Wayne County            23
64  14819  Pennsylvania  Westmoreland County           199
65  15047  Pennsylvania       Wyoming County             4
66  15275  Pennsylvania          York County           291

[67 rows x 4 columns]

In [192]:
dftex = pd.read_csv(tex)
dftex = dftex.drop(dftex.columns[0:3], axis=1)
dftex = dftex.drop(dftex.columns[5:7], axis=1)
dftex = dftex.drop(dftex.columns[7:], axis=1)
dftex = dftex.sort_values(by=['YEAR', 'AGEGRP'], ascending= False)
dftex = dftex.iloc[0:254]
dftex['NONWHITE POP'] = dftex['TOT_POP'] - dftex['WA_MALE'] - dftex['WA_FEMALE']
dftex = dftex.drop(['YEAR', 'AGEGRP', 'TOT_POP', 'WA_MALE', 'WA_FEMALE'], axis = 1)
dftex.reset_index()

     index STNAME          CTYNAME  NONWHITE POP
0      227  Texas  Anderson County           152
1      455  Texas   Andrews County            11
2      683  Texas  Angelina County           210
3      911  Texas   Aransas County            29
4     1139  Texas    Archer County             2
..     ...    ...              ...           ...
249  56999  Texas      Wood County            77
250  57227  Texas    Yoakum County             7
251  57455  Texas     Young County            15
252  57683  Texas    Zapata County             5
253  57911  Texas    Zavala County             3

[254 rows x 4 columns]

In [193]:
dfgeo = pd.read_csv(geo)
dfgeo = dfgeo.drop(dfgeo.columns[0:3], axis=1)
dfgeo = dfgeo.drop(dfgeo.columns[5:7], axis=1)
dfgeo = dfgeo.drop(dfgeo.columns[7:], axis=1)
dfgeo = dfgeo.sort_values(by=['YEAR', 'AGEGRP'], ascending= False)
dfgeo = dfgeo.iloc[0:159]
dfgeo['NONWHITE POP'] = dfgeo['TOT_POP'] - dfgeo['WA_MALE'] - dfgeo['WA_FEMALE']
dfgeo = dfgeo.drop(['YEAR', 'AGEGRP', 'TOT_POP', 'WA_MALE', 'WA_FEMALE'], axis = 1)
dfgeo.reset_index()

     index   STNAME           CTYNAME  NONWHITE POP
0      227  Georgia    Appling County            47
1      455  Georgia   Atkinson County            29
2      683  Georgia      Bacon County            13
3      911  Georgia      Baker County            39
4     1139  Georgia    Baldwin County           253
..     ...      ...               ...           ...
154  35339  Georgia  Whitfield County            77
155  35567  Georgia     Wilcox County            39
156  35795  Georgia     Wilkes County           105
157  36023  Georgia  Wilkinson County            63
158  36251  Georgia      Worth County            94

[159 rows x 4 columns]

In [194]:
dfvir = pd.read_csv(vir)
dfvir = dfvir.drop(dfvir.columns[0:3], axis=1)
dfvir = dfvir.drop(dfvir.columns[5:7], axis=1)
dfvir = dfvir.drop(dfvir.columns[7:], axis=1)
dfvir = dfvir.sort_values(by=['YEAR', 'AGEGRP'], ascending= False)
dfvir = dfvir.iloc[0:133]
dfvir['NONWHITE POP'] = dfvir['TOT_POP'] - dfvir['WA_MALE'] - dfvir['WA_FEMALE']
dfvir = dfvir.drop(['YEAR', 'AGEGRP', 'TOT_POP', 'WA_MALE', 'WA_FEMALE'], axis = 1)
dfvir.reset_index()

     index    STNAME              CTYNAME  NONWHITE POP
0      227  Virginia      Accomack County           188
1      455  Virginia     Albemarle County           189
2      683  Virginia     Alleghany County            29
3      911  Virginia        Amelia County            91
4     1139  Virginia       Amherst County           140
..     ...       ...                  ...           ...
128  29411  Virginia         Suffolk city           495
129  29639  Virginia  Virginia Beach city          1295
130  29867  Virginia      Waynesboro city            45
131  30095  Virginia    Williamsburg city            63
132  30323  Virginia      Winchester city            52

[133 rows x 4 columns]

In [195]:
dfken = pd.read_csv(ken)
dfken = dfken.drop(dfken.columns[0:3], axis=1)
dfken = dfken.drop(dfken.columns[5:7], axis=1)
dfken = dfken.drop(dfken.columns[7:], axis=1)
dfken = dfken.sort_values(by=['YEAR', 'AGEGRP'], ascending= False)
dfken = dfken.iloc[0:120]
dfken['NONWHITE POP'] = dfken['TOT_POP'] - dfken['WA_MALE'] - dfken['WA_FEMALE']
dfken = dfken.drop(['YEAR', 'AGEGRP', 'TOT_POP', 'WA_MALE', 'WA_FEMALE'], axis = 1)
dfken.reset_index()

     index    STNAME          CTYNAME  NONWHITE POP
0      227  Kentucky     Adair County            17
1      455  Kentucky     Allen County            10
2      683  Kentucky  Anderson County            14
3      911  Kentucky   Ballard County             9
4     1139  Kentucky    Barren County            44
..     ...       ...              ...           ...
115  26447  Kentucky     Wayne County            11
116  26675  Kentucky   Webster County            15
117  26903  Kentucky   Whitley County            18
118  27131  Kentucky     Wolfe County             7
119  27359  Kentucky  Woodford County            32

[120 rows x 4 columns]

In [196]:
dfkan = pd.read_csv(kan)
dfkan = dfkan.drop(dfkan.columns[0:3], axis=1)
dfkan = dfkan.drop(dfkan.columns[5:7], axis=1)
dfkan = dfkan.drop(dfkan.columns[7:], axis=1)
dfkan = dfkan.sort_values(by=['YEAR', 'AGEGRP'], ascending= False)
dfkan = dfkan.iloc[0:105]
dfkan['NONWHITE POP'] = dfkan['TOT_POP'] - dfkan['WA_MALE'] - dfkan['WA_FEMALE']
dfkan = dfkan.drop(['YEAR', 'AGEGRP', 'TOT_POP', 'WA_MALE', 'WA_FEMALE'], axis = 1)
dfkan.reset_index()

     index  STNAME            CTYNAME  NONWHITE POP
0      227  Kansas       Allen County            16
1      455  Kansas    Anderson County             3
2      683  Kansas    Atchison County            16
3      911  Kansas      Barber County             3
4     1139  Kansas      Barton County            16
..     ...     ...                ...           ...
100  23027  Kansas  Washington County             3
101  23255  Kansas     Wichita County             1
102  23483  Kansas      Wilson County             9
103  23711  Kansas     Woodson County             3
104  23939  Kansas   Wyandotte County           651

[105 rows x 4 columns]

In [197]:
dfill = pd.read_csv(ill)
dfill = dfill.drop(dfill.columns[0:3], axis=1)
dfill = dfill.drop(dfill.columns[5:7], axis=1)
dfill = dfill.drop(dfill.columns[7:], axis=1)
dfill = dfill.sort_values(by=['YEAR', 'AGEGRP'], ascending= False)
dfill = dfill.iloc[0:102]
dfill['NONWHITE POP'] = dfill['TOT_POP'] - dfill['WA_MALE'] - dfill['WA_FEMALE']
dfill = dfill.drop(['YEAR', 'AGEGRP', 'TOT_POP', 'WA_MALE', 'WA_FEMALE'], axis = 1)
dfill.reset_index()

     index    STNAME            CTYNAME  NONWHITE POP
0      227  Illinois       Adams County            62
1      455  Illinois   Alexander County            53
2      683  Illinois        Bond County            12
3      911  Illinois       Boone County            31
4     1139  Illinois       Brown County             1
..     ...       ...                ...           ...
97   22343  Illinois   Whiteside County            23
98   22571  Illinois        Will County          1050
99   22799  Illinois  Williamson County            43
100  23027  Illinois   Winnebago County           438
101  23255  Illinois    Woodford County             7

[102 rows x 4 columns]

In [198]:
dfmega = [dfcal, dfpenn, dftex, dfill, dfkan, dfken, dfvir, dfgeo]
dfmega = pd.concat(dfmega).reset_index()
dfmega = dfmega.sort_values(by=['STNAME','CTYNAME'], ascending= True)
dfmega

     index      STNAME            CTYNAME  NONWHITE POP
0      227  California     Alameda County         14167
1      455  California      Alpine County             5
2      683  California      Amador County            53
3      911  California       Butte County           301
4     1139  California   Calaveras County            72
..     ...         ...                ...           ...
837  30095    Virginia  Williamsburg city            63
838  30323    Virginia    Winchester city            52
798  21203    Virginia        Wise County            19
799  21431    Virginia       Wythe County            25
800  21659    Virginia        York County           228

[998 rows x 4 columns]

In [199]:
dfmega.to_csv(r'MegaRace.csv')