In [284]:
import pandas as pd
import csv

In [285]:
polcal = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Political/PoliticCal.csv')

def stringmod(x):
    stringx = str(x)
    if stringx[0] == '+':
        stringx = stringx[1:-1]
    else:
        stringx = stringx[0:-1]
    stringx = float(stringx)
    return(stringx)

polcal = polcal.drop([" '1'", " '2'", " '3'", " '4'"," '6'", ' "7"'], axis=1)
polcal = polcal.rename(columns={" '5'": 'Dem-Rep %'})
polcal['Dem-Rep %'] = polcal['Dem-Rep %'].apply(stringmod)
polcal['State'] = "California"

cascal = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Cases/CaseCal.csv')
mergecal = pd.concat([polcal, cascal], axis=1)
mergecal = mergecal.drop(['State1', 'County1', 'Deaths'], axis = 1)

In [286]:
polpenn = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Political/PoliticPenn.csv')

polpenn['Dem-Rep %'] = round((100 * (polpenn['Democratic']-polpenn['Republican'])/polpenn['Total']), 1)

polpenn = polpenn.drop(['Democratic', 'Republican', 'Total'], axis =1)
polpenn['State'] = "Pennsylvania"

caspenn = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Cases/CasePenn.csv')
mergepenn = pd.concat([polpenn, caspenn], axis=1)
mergepenn = mergepenn.drop(['State1', 'County1', 'Deaths'], axis = 1)

In [287]:
polgeo = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Political/PoliticGeo.csv')
polgeo['Dem-Rep %'] = round((polgeo['Clinton%']-polgeo['Trump%']), 1)
polgeo = polgeo.drop(['Clinton%', 'Clinton', 'Trump', 'Trump%', 'Other', 'Others', 'Total'], axis = 1)
polgeo['State'] = "Georgia"

casgeo = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Cases/CaseGeo.csv')
mergegeo = pd.concat([polgeo, casgeo], axis=1)
mergegeo = mergegeo.drop(['County1','CountyPop','Confirmed','Deaths'], axis = 1)
mergegeo

        County  Dem-Rep %    State  Cases per 100K
0      Appling      -58.0  Georgia     5770.695094
1     Atkinson      -45.2  Georgia     5486.834048
2        Bacon      -68.6  Georgia     5410.247223
3        Baker       -8.7  Georgia     2764.976959
4      Baldwin        1.7  Georgia     4778.347071
..         ...        ...      ...             ...
154  Whitfield      -44.7  Georgia     4513.132240
155     Wilcox      -41.8  Georgia     2883.613202
156     Wilkes      -16.2  Georgia     2741.127135
157  Wilkinson      -10.3  Georgia     3864.194773
158      Worth      -49.9  Georgia     2701.634810

[159 rows x 4 columns]

In [288]:
polill = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Political/PoliticIll_new.csv')
polill['Dem-Rep %'] = round((polill['2']-polill['4']), 1)
polill = polill.drop(['1', '2', '3', '4', '5', '6', '7', '8', '9'], axis = 1)
polill['State'] = 'Illinois'

casill = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Cases/CaseIll.csv')
mergeill = pd.concat([polill, casill], axis=1)
mergeill = mergeill.drop(['County1','CountyPop','Confirmed','Deaths'], axis = 1)
mergeill

         County  Dem-Rep %     State  Cases per 100K
0         Adams      -47.4  Illinois     1908.764423
1     Alexander       -8.3  Illinois     1562.228780
2          Bond      -37.8  Illinois     2197.735298
3         Boone      -14.5  Illinois     2265.426565
4         Brown      -56.0  Illinois     1079.355427
..          ...        ...       ...             ...
97    Whiteside       -6.2  Illinois     1574.988672
98         Will        6.4  Illinois     2112.073521
99   Williamson      -41.2  Illinois     2198.297221
100   Winnebago        0.1  Illinois     2399.034582
101    Woodford      -41.7  Illinois     1190.878598

[102 rows x 4 columns]

In [289]:
polkan = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Political/PoliticKan.csv')
polkan = polkan.drop(['1', '2', '3', '4', '5'], axis = 1)
polkan['Dem-Rep %'] = (polkan['Dem']-polkan['Rep'])
polkan = polkan.drop(['Dem','Rep'], axis = 1)
polkan['State'] = "Kansas"

caskan = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Cases/CaseKan.csv')
mergekan = pd.concat([polkan, caskan], axis=1)
mergekan = mergekan.drop(['County1','CountyPop','Confirmed','Deaths'], axis = 1)
mergekan

         County  Dem-Rep %   State  Cases per 100K
0         Allen     -40.67  Kansas      557.846228
1      Anderson     -52.63  Kansas     1056.248409
2      Atchison     -31.33  Kansas     2277.110683
3        Barber     -69.45  Kansas      248.475265
4        Barton     -58.91  Kansas     2079.211762
..          ...        ...     ...             ...
100  Washington     -65.35  Kansas      406.955235
101     Wichita     -65.80  Kansas      235.960359
102      Wilson     -61.10  Kansas      762.463343
103     Woodson     -56.06  Kansas      764.818356
104   Wyandotte      29.40  Kansas     4395.239045

[105 rows x 4 columns]

In [290]:
polken = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Political/PoliticKen.csv')
polken = polken.drop(['0', '1', '2', '3', '4', '5', '6', '7', '8' , '9', '10'], axis = 1)
polken['Dem-Rep %'] = (polken['Dem']-polken['Rep'])
polken = polken.drop(['Dem','Rep'], axis = 1)
polken['State'] = "Kentucky"

casken = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Cases/CaseKen.csv')
mergeken = pd.concat([polken, casken], axis=1)
mergeken = mergeken.drop(['County1','CountyPop','Confirmed','Deaths'], axis = 1)
mergeken

       County  Dem-Rep %     State  Cases per 100K
0       Adair     -64.54  Kentucky     1749.817727
1       Allen     -63.21  Kentucky     1862.538119
2    Anderson     -49.10  Kentucky      782.520772
3     Ballard     -57.18  Kentucky      735.294118
4      Barren     -49.81  Kentucky     1859.929038
..        ...        ...       ...             ...
115     Wayne     -61.81  Kentucky      890.178528
116   Webster     -54.39  Kentucky     1645.804358
117   Whitley     -67.12  Kentucky     1340.172071
118     Wolfe     -39.88  Kentucky      712.589074
119  Woodford     -20.19  Kentucky     1118.425974

[120 rows x 4 columns]

In [291]:
poltex = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Political/PoliticTex_new.csv')
poltex['Dem-Rep %'] = round((poltex['2']-poltex['4']), 1)
poltex = poltex.drop(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'], axis = 1)
poltex['State'] = 'Texas'

castex = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Cases/CaseTex.csv')
mergetex = pd.concat([poltex, castex], axis=1)
mergetex = mergetex.drop(['County1','CountyPop','Confirmed','Deaths'], axis = 1)
mergetex

       County  Dem-Rep %  State  Cases per 100K
0    Anderson       57.9  Texas     4886.117606
1     Andrews       62.5  Texas     2443.197006
2    Angelina       47.2  Texas     2524.361414
3     Aransas       50.2  Texas     1424.925564
4      Archer       79.2  Texas     1028.878756
..        ...        ...    ...             ...
249      Wood       69.8  Texas     1185.796790
250    Yoakum       59.5  Texas     2961.092620
251     Young       74.3  Texas     1921.154914
252    Zapata      -32.9  Texas     2362.648988
253    Zavala      -57.2  Texas     3184.121622

[254 rows x 4 columns]

In [292]:
polvir = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Political/PoliticVir.csv')
polvir['Dem-Rep %'] = round((polvir['2']-polvir['4']), 1)
polvir = polvir.drop(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11','12','13','14','15'], axis = 1)
polvir['State'] = 'Virginia'

casvir = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Cases/CaseVir.csv')
mergevir = pd.concat([polvir, casvir], axis=1)
mergevir = mergevir.drop(['County1','CountyPop','Confirmed','Deaths'], axis = 1)
mergevir

             County  Dem-Rep %     State  Cases per 100K
0          Accomack      -11.6  Virginia     3666.914222
1         Albemarle       24.8  Virginia     1251.257660
2         Alleghany      -37.0  Virginia      538.358008
3            Amelia      -36.6  Virginia      950.931913
4           Amherst      -30.3  Virginia     1351.052049
..              ...        ...       ...             ...
128         Suffolk       12.2  Virginia     2295.131802
129  Virginia Beach       -3.5  Virginia     1568.757306
130      Waynesboro      -11.3  Virginia     1277.065842
131    Williamsburg       43.0  Virginia     1277.250234
132      Winchester        3.5  Virginia     1844.860745

[133 rows x 4 columns]

In [293]:
mergemega = [mergecal, mergepenn, mergegeo, mergeill, mergekan, mergeken, mergetex, mergevir]
dfmega = pd.concat(mergemega)
dfmega = dfmega.sort_values(by=['State','County'], ascending= True)
dfmega

           County  Dem-Rep %       State  Cases per 100K
0         Alameda       44.6  California     1286.880082
1          Alpine       15.4  California      177.147919
2          Amador      -15.4  California      651.539545
3           Butte        0.6  California     1295.703193
4       Calaveras      -14.5  California      705.805468
..            ...        ...         ...             ...
131  Williamsburg       43.0    Virginia     1277.250234
132    Winchester        3.5    Virginia     1844.860745
92           Wise      -61.9    Virginia     1193.055667
93          Wythe      -54.5    Virginia      913.401199
94           York      -17.1    Virginia      823.081429

[998 rows x 4 columns]

In [294]:
dfmega.to_csv(r'MegaPolCas.csv')