In [17]:
import pandas as pd
import csv

In [18]:
df = pd.read_csv('/Users/jubmam/Desktop/Metis/Project_2/RuralUrbanCodes2013.csv')

In [19]:
df.columns
df = df.drop(['FIPS', 'Population_2010', 'Description'], axis = 1)
mask =((df['State'] == 'CA') |
       (df['State'] == 'GA') |
       (df['State'] == 'IL') |
       (df['State'] == 'KS') |
       (df['State'] == 'KY') |
       (df['State'] == 'PA') |
       (df['State'] == 'TX') |
       (df['State'] == 'VA'))

In [20]:
df = df[mask]

In [23]:
df = df.sort_values(by=['State','County_Name'], ascending= True)

     State        County_Name  RUCC_2013
186     CA     Alameda County        1.0
187     CA      Alpine County        8.0
188     CA      Amador County        6.0
189     CA       Butte County        3.0
190     CA   Calaveras County        6.0
...    ...                ...        ...
2952    VA  Williamsburg city        1.0
2953    VA    Winchester city        3.0
2912    VA        Wise County        7.0
2913    VA       Wythe County        6.0
2914    VA        York County        1.0

[999 rows x 3 columns]

In [30]:
mask = (df['County_Name'] != 'Bedford city')
df = df[mask]
df = df.drop(['State', 'County_Name'], axis = 1)
df

      RUCC_2013
186         1.0
187         8.0
188         6.0
189         3.0
190         6.0
...         ...
2952        1.0
2953        3.0
2912        7.0
2913        6.0
2914        1.0

[998 rows x 1 columns]

In [ ]:
df.to_csv(r'Urban.csv')