In [1]:
import pandas as pd
import csv

In [5]:
uncal = pd.read_csv('/Users/juBmam/Desktop/Metis/Project_2/Employment_Income/UnemploymentReport_CA.csv')
unpenn = pd.read_csv('/Users/juBmam/Desktop/Metis/Project_2/Employment_Income/UnemploymentReport_PA.csv')
ungeo = pd.read_csv('/Users/juBmam/Desktop/Metis/Project_2/Employment_Income/UnemploymentReport_GA.csv')
unill = pd.read_csv('/Users/juBmam/Desktop/Metis/Project_2/Employment_Income/UnemploymentReport_IL.csv')
unkan = pd.read_csv('/Users/juBmam/Desktop/Metis/Project_2/Employment_Income/UnemploymentReport_KA.csv')
unken = pd.read_csv('/Users/juBmam/Desktop/Metis/Project_2/Employment_Income/UnemploymentReport_KY.csv')
untex = pd.read_csv('/Users/juBmam/Desktop/Metis/Project_2/Employment_Income/UnemploymentReport_TX.csv')
unvir = pd.read_csv('/Users/juBmam/Desktop/Metis/Project_2/Employment_Income/UnemploymentReport_VA.csv')

df = [uncal, unpenn, ungeo, unill, unkan, unken, untex, unvir]

drop_col = [un.drop(['Unnamed: 0', 'Unemployment Rate (percent)', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 12'], axis=1) for un in df]
rena_col = [un.rename(columns={'Unnamed: 1': 'County', 'Unnamed: 10': 'Unemployment Rate (2019)', 'Unnamed: 11': "Median Household Income (2019)"}) for un in drop_col]

In [6]:
rena_col[0] = rena_col[0].drop([0, 1, 60, 61])
rena_col[1] = rena_col[1].drop([0, 1, 69, 70])
rena_col[2] = rena_col[2].drop([0, 1, 161, 162, 163])
rena_col[3] = rena_col[3].drop([0, 1, 104, 105])
rena_col[4] = rena_col[4].drop([0, 1, 107, 108])
rena_col[5] = rena_col[5].drop([0, 1, 122, 123])
rena_col[6] = rena_col[6].drop([0, 1, 256, 257, 258])
rena_col[7] = rena_col[7].drop([0, 1, 135, 136, 137])

In [9]:
dfmega = pd.concat(rena_col).reset_index()

def tostate(x):
    x = str(x)
    if 'CA' in x:
        return 'California'
    elif 'GA' in x:
        return 'Georgia'
    elif 'IL' in x:
        return 'Illinois'
    elif 'KS' in x:
        return 'Kansas'
    elif 'KY' in x:
        return 'Kentucky'
    elif 'TX' in x:
        return 'Texas'
    elif 'PA' in x:
        return 'Pennsylvania'
    elif 'VA' in x:
        return 'Virginia'
    else:
        return 0
    
def countyclean(x):
    x = str(x)[:-4]
    if 'County' in x:
        return x[:-7]
    return x

def incomeclean(x):
    number = str(x)
    number = (number[1:])
    number = number.replace(',', '') 
    indexdot = number.find('.')
    if indexdot != -1:
        number = number[:indexdot]
    return (number)       

dfmega['State'] = dfmega['County'].apply(tostate)
dfmega['County'] = dfmega['County'].apply(countyclean)
#dfmega['Median Household Income (2019)'] = dfmega['Median Household Income (2019)'].apply(incomeclean)
dfmega = dfmega.sort_values(by=['State','County'], ascending= True)
dfmega

,index,County,Unemployment Rate (2019),Median Household Income (2019),State
0,2,Alameda,2.9,"101,744",California
1,3,Alpine,5.1,"55,384",California
2,4,Amador,3.8,"58,515",California
3,5,Butte,5.1,"50,945",California
4,6,Calaveras,3.8,"62,984",California
...,...,...,...,...,...
996,133,Williamsburg City,3.9,"52,845",Virginia
997,134,Winchester City,2.8,"51,456",Virginia
957,94,Wise,4.6,"38,045",Virginia
958,95,Wythe,3.6,"46,345",Virginia
959,96,York,2.7,"86,317",Virginia

In [140]:
dfmega.to_csv(r'MegaEmpInc.csv')